body {
    background-color: lightgray;
    display: flex;
}

.background_side {
   min-width: 34%;
}

.form_side {
  max-width: 66%;  
}

.form_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}